{% load static %}
{% block content%}
{% include 'nav.html'%}

    <!-- Services -->
    <!-- Services -->
    <main>
      <div class="main-container">
        <h1>Services</h1>
      </div>
    </main>

    <!-- Consultancy -->
    <!-- Consultancy -->

    <section class="consultancy">
      <div class="consult-container">
        <div class="consult-image">
          <img src="{% static 'images/mi.jpg' %}" alt="Hatchgains Consultant" />
          <div class="consult-wrap"></div>
        </div>
        <div class="consult-text">
          <h2 class="text-services-h2">FISH FARMING CONSULTANCY</h2>
          <p class="services-p">
            Our fish farming consultancy service is designed to guide both new
            and experienced farmers through every stage of catfish farming. We
            offer expert advice on best practices for pond management, feeding
            strategies, water quality control, disease prevention, and overall
            farm productivity. Our goal is to help farmers optimize their
            operations, improve yields, and ensure the health of their fish
            stock. Whether you’re just starting or looking to scale, we provide
            tailored solutions to meet your unique needs.
          </p>
        </div>
      </div>
    </section>

    <!-- Setup -->
    <!-- Setup -->

    <section class="consultancy">
      <div class="consult-container">
        <div class="consult-text">
          <h2 class="text-services-h2">FISH FARM SETUP</h2>
          <p class="services-p">
            Setting up a successful fish farm requires in-depth knowledge and
            planning. At Hatchgains, we assist clients in establishing fully
            operational catfish farms, starting from site selection to the
            installation of ponds and other infrastructure. Our team helps you
            choose the right equipment, set up sustainable systems, and
            implement effective management practices to ensure long-term
            profitability and growth. We ensure that every aspect of the farm is
            designed for efficiency and success.
          </p>
        </div>
        <div class="consult-image">
          <img
            src="{% static 'images/2307-i301-011-S-m004-c13-Mariculture isometric composition.jpg' %}"
            alt="Hatchgains Consultant"
          />
          <div class="consult-wrap"></div>
        </div>
      </div>
    </section>

    <!-- Construction -->
    <!-- Construction -->

    <section class="consultancy">
      <div class="consult-container">
        <div class="consult-image">
          <img
            src="{% static 'images/2107.i109.010.S.m004.c13.industrial fishing seafood production isometric.jpg' %}"
            alt="Hatchgains Consultant"
          />
          <div class="consult-wrap"></div>
        </div>
        <div class="consult-text">
          <h2 class="text-services-h2">POND CONSTRUCTION</h2>
          <p class="services-p">
            Proper pond construction is crucial to the success of any catfish
            farming operation. We specialize in building ponds that are
            optimized for fish health and growth. Our services include site
            assessment, pond design, and construction using the latest
            techniques and materials. We focus on creating ponds with proper
            water flow, aeration, and filtration systems, ensuring an ideal
            environment for catfish farming. Whether you need earthen or
            concrete ponds, our team is equipped to deliver high-quality,
            durable solutions.
          </p>
        </div>
      </div>
    </section>

    <!-- Setup -->
    <!-- Setup -->

    <section class="consultancy">
      <div class="consult-container">
        <div class="consult-text">
          <h2 class="text-services-h2">GENERAL MERCHANDISE</h2>
          <p class="services-p">
            In addition to our catfish farming products and services, Hatchgains
            offers a range of general merchandise related to fish farming. This
            includes high-quality feed, farming tools, equipment, and
            accessories that help farmers maintain efficient operations. Our
            goal is to be a one-stop shop for all your fish farming needs,
            ensuring that you have access to the best resources and products
            available in the market.
          </p>
        </div>
        <div class="consult-image">
          <img
            src="{% static 'images/2307-i301-011-S-m004-c13-Mariculture isometric composition.jpg' %}"
            alt="Hatchgains Consultant"
          />
          <div class="consult-wrap"></div>
        </div>
      </div>
    </section>

    <!-- Fish feed formulation & Agricultural Services Extension -->
    <!-- Fish feed formulation & Agricultural Services Extension -->
    <section class="feed">
      <div class="feed-container">
        <div class="feed-text">
          <h2 class="text-services-h2">FISH FEED FORMULATION</h2>
          <p class="services-p">
            At Hatchgains, we understand that quality feed is essential for
            healthy, fast-growing fish. That's why we offer customized fish feed
            formulation services for farmers. Our formulations are designed to
            meet the nutritional needs of catfish at every stage of their
            growth, ensuring optimal health, weight gain, and production
            efficiency. Whether you need feed for fingerlings, juveniles, or
            mature catfish, we create balanced and cost-effective feed mixes
            that maximize performance and reduce costs. We can also guide
            farmers on how to produce their own feeds using locally available
            materials.
          </p>
          <div class="feed-image">
            <img src="{% static 'images/fish.svg' %}" alt="" />
          </div>
        </div>
        <div class="feed-text">
          <div class="feed-image feed-feed">
            <img src="{% static 'images/fish.svg' %}" alt="" />
          </div>
          <h2 class="text-services-h2">AGRICULTURAL EXTENSION SERVICES</h2>
          <p class="services-p">
            Our agricultural extension services are focused on educating and
            empowering fish farmers with the knowledge and skills they need to
            improve their operations. We provide training, workshops, and
            on-site demonstrations on best practices in fish farming, pond
            management, disease control, and feeding. Our extension officers
            work closely with farmers, offering one-on-one support and
            monitoring to ensure successful outcomes. By bridging the gap
            between research and practical application, we help farmers stay
            updated on the latest innovations in aquaculture and achieve
            sustainable growth.
          </p>
        </div>
      </div>
    </section>

  

    <!-- contact -->
    <!-- contact -->
    <section class="contact">
      <div class="contact-container">
        <div class="cta-form">
          <div class="form">
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <textarea
              name="message"
              id="message"
              placeholder="Message"
            ></textarea>
            <button>Send message</button>
          </div>
          <div class="time">
            <div>
              <h3>Office Hours</h3>
              <p class="action">
                Always Here, Always Helpful – Connect with Us During Our Office
                Hours!
              </p>
            </div>
            <div>
              <p class="date">Monday - Friday: 10.00am - 6.00pm</p>
              <p class="date">Saturday: 1.00pm - 6.00pm</p>
              <p class="date">Sunday: Off day</p>
            </div>
          </div>
        </div>

        <div class="urgent">
          <div class="urgent-support">
            <h3 class="urgent-support-h">Need Urgent Support?</h3>
            <p class="urgent-support-p">
              Need Help Fast? We’ve Got You Covered – Reach Out for Immediate
              Assistance!
            </p>
          </div>

          <div class="hesitate">
            <p id="suup" class="urgent-support-p">Call us without any Hesitation</p>
            <h3 class="urgent-support-h">+234 808 944 5908</h3>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <!-- Footer -->
    <footer>
      <div class="footer-container">
        <div class="foot-title">
          <h3>Hatchgains Farms</h3>
          <p class="services-p">
            Li Europan lingues es membres del sam familie. Lor separat
            existentie
          </p>
          <div class="footer-links">
            <a href="#">
              <img class="fb" src="{% static 'images/fc.svg' %}" alt="" />
            </a>
            <a href="#">
              <img
                class="ig"
                src="{% static 'images/instagram-167-svgrepo-com.svg' %}"
                alt=""
              />
            </a>
            <a href="#">
              <img
                class="tweet"
                src="{% static 'images/twitter-3-svgrepo-com.svg' %}"
                alt=""
              />
            </a>
          </div>
        </div>
        <div class="foot-pages">
          <div class="foots">
            <h4>Pages</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">Services</a></li>
            </ul>
          </div>
          <div class="foots">
            <h4>About</h4>
            <ul>
              <li><a href="#">Testimonial</a></li>
              <li><a href="#">Our Service</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Benefits</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Interaction -->
    <!-- Interaction -->
    <script src="../script.js"></script>
  </body>
  <style>
    @import url(../general-styles.css);

main {
  width: 100%;
  height: auto;
  padding: 50px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 80%;
  /* height: 100%; */
}
.main-container h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
  text-align: center;
}

/* Consultancy */
/* Consultancy */

.consultancy {
  width: 100%;
  height: 450px;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}
.consult-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.consult-image {
  width: 400px;
  height: 400px;
  position: relative;
  z-index: 5;
}
.consult-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  /* position: absolute; */
}
.consult-wrap {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 5;
  right: -10px;
  border: 1px solid var(--primary-color);
  z-index: -1;
}

.consult-text {
  width: 60%;
  color: var(--primary-color);
}
.text-services-h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.services-p {
  font-size: 1.2rem;
  line-height: 32px;
}

@media screen and (max-width: 950px) {
  .consultancy {
    height: auto;
  }
  .consult-container {
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  .consult-text {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .consultancy {
    padding: 20px 0;
  }
  .consult-container {
    width: 92%;
  }
  .consult-image {
    width: 250px;
    height: 250px;
  }
  .text-services-h2 {
    font-size: 1.5rem;
  }
  .services-p {
    font-size: 1rem;
    line-height: 28px;
  }
}

/* <!-- Fish feed formulation & Agricultural Services Extension --> */
/* <!-- Fish feed formulation & Agricultural Services Extension --> */
.feed {
  width: 100%;
  /* height: 100vh; */
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}
.feed-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed-text {
  width: 48%;
  color: var(--primary-color);
}

.feed-image {
  width: 250px;
  height: 250px;
  margin: 5px auto;
}
.feed-image img {
  width: 100%;
}

@media screen and (max-width: 950px) {
  .feed-container {
    display: block;
  }
  .feed-feed {
    display: none;
  }
  .feed-text {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .feed-container {
    width: 92%;
  }
  .feed-image {
    width: 150px;
    height: 150px;
  }
}

/* Contact */
/* Contact */

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  padding: 50px 0;
}
.contact-container {
  width: 60%;
}
.cta-form {
  width: 100%;
  /* background-color: pink; */
  /* height: 500px; */
  position: relative;
  z-index: 10;
  margin-bottom: 80px;
}
.form {
  width: 450px;
  height: 500px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 80px 30px 80px;
}

.form input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 40px;
  padding-left: 15px;
  color: white;
}
.form input::placeholder,
textarea::placeholder {
  color: white;
  font-weight: 500;
}

.form textarea {
  width: 100%;
  height: 150px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding-left: 15px;
  padding-top: 15px;
  color: white;
}

.form button {
  padding: 15px 30px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin-top: 30px;
  align-self: flex-end;
  border: none;
  border-radius: 40px;
  font-weight: 700;
  cursor: pointer;
}

.time {
  width: 550px;
  height: 300px;
  background-color: white;
  box-shadow: var(--shadow);
  position: absolute;
  right: 0;
  bottom: -60px;
  z-index: -1;
  padding: 30px 50px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  color: var(--primary-color);
  border-radius: 9px;
}
.time div {
  width: 75%;
}
.time h3 {
  font-size: 2rem;
  font-weight: 600;
}

.action {
  margin-bottom: 50px;
  margin-top: 7px;
  font-size: 0.8rem;
  line-height: 24px;
}
.date {
  font-weight: 700;
  margin-top: 10px;
  font-size: 0.9rem;
}

.urgent {
  width: 100%;
  height: 400px;
  border: 2px solid var(--primary-color);
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.urgent-support {
  text-align: center;
  color: var(--primary-color);
}
.urgent-support-h {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 10px ;
}
.urgent-support-p {
  font-size: 0.8rem;
  margin-top: 20px;
} 
#suup {
  font-size: 1rem;
}

.hesitate {
  text-align: center;
  color: var(--secondary-color);
}

@media screen and (max-width: 1200px) {
  .time {
    position: static;
  }
  .cta-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}

@media screen and (max-width: 600px) {
  .contact-container {
    width: 92%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #204e51;
  --secondary-color: #f9c301;
  --bg-color: #d9d9d9;
  --shadow: 1px 1px 5px 3px rgb(211, 207, 207);
  --border: 5px solid var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
p,
a,
label {
  font-family: "Raleway", sans-serif;
}
button,
input::placeholder,
textarea::placeholder,
input,
textarea {
  font-family: "Raleway", sans-serif;
}

.body {
  position: relative;
  /* background-color: var(--bg-color); */
}

nav {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.navContainer {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu {
  width: auto;
  /* background-color: red; */
  height: 30px;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 999;
}
.icon {
  cursor: pointer;
}
.logo {
  height: 65px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 999;
}

.linkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
}
.linkWrapper li a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.cta button {
  width: 120px;
  height: 45px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.05rem;
  cursor: pointer;
}

.cta button:hover {
  background-color: #163133;
}

#signBtn {
  background-color: transparent;
  color: black;
  border: 1px solid var(--primary-color);
}
#signBtn:hover {
  background-color: var(--secondary-color);
  color: white;
  border: none;
}
.overlay {
  display: none;
  transition: 2s all ease-in-out;
}
.dropdown {
  display: none;
  transition: 1s all ease-in-out;
}
.overlay {
  transition: 5s all ease-in-out;
}

@media screen and (max-width: 860px) {
  .navContainer {
    width: 90%;
  }
  .linkWrapper {
    display: none;
  }
  .cta {
    display: none;
  }
  .menu {
    display: block;
  }
  .hide {
    display: none;
  }
  .overlay {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgba(35, 35, 35, 0.505);
    /* filter: blur(2rem); */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 10;
    display: none;
  }
  .dropdown {
    display: block;
    width: 60%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    box-shadow: 1px 1px 5px 2px rgba(137, 137, 137, 0.121);
    margin-left: -60%;
  }
  .dropdown li {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
  }

  .dropdown li a {
    width: 110px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: #204e51;
    /* background-color: red; */
    font-family: "Raleway", sans-serif;
  }
  .hero-icon svg {
    width: 24px;
  }
  #navLink:hover {
    background-color: #204e512b;
  }
  #navlink a:hover {
    color: white;
  }
  #signLink {
    /* font-size: 0.8rem;
      font-weight: 600; */
    /* width: 130px; */
    gap: 10px;
    background-color: #204e51;
    color: white;
    justify-content: center;
    height: 50px;
    border-radius: 20px;
    margin-top: 100px;
    transition: 3px all ease-in-out;
  }
  #signLink:hover {
    background-color: #204e512b;
  }
  .hero-sign {
    display: none;
  }
}

.pop {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation-name: pop;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes pop {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  /* 100% {
      transform: scale(1.2);
    } */
}

/* Footer */
/* Footer */
footer {
  width: 100%;
  height: 500px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}
.footer-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-title {
  width: 60%;
}
.foot-title h3 {
  font-size: 2rem;
}
.foot-title p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
  padding: 10px 0 20px 0;
  max-width: 70%;
}

.footer-links {
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.footer-links a {
  border: none;
}
.fb {
  width: 40px;
}
.ig {
  width: 22px;
}
.tweet {
  width: 30px;
}

.foot-pages {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}
.foots h4 {
  font-size: 1.3rem;
  margin-bottom: 30px;
}
.foots ul {
  list-style: none;
}
.foots ul li {
  height: 40px;
}
.foots a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 0.9rem;
}

@media screen and (max-width: 700px) {
  footer {
    height: auto;
    padding: 50px 0;
  }
  .footer-container {
    display: block;
  }
  .foot-title {
    width: 100%;
    margin-bottom: 40px;
  }
  .foot-pages {
    width: 100%;
  }
}

  </style>
  <script>
    "use strict";

const overlay = document.querySelector(".overlay");
const showDropdown = document.querySelector(".show");
const hideDropdown = document.querySelector(".hide");
const dropdown = document.querySelector(".dropdown");
const logo = document.querySelector(".logo");
// const signInBtn = document.querySelector("#signLink");
// const signIcon = document.querySelector(".hero-sign");

showDropdown.addEventListener("click", () => {
  overlay.style.display = "block";
  showDropdown.style.display = "none";
  hideDropdown.style.display = "inline-block";
  dropdown.style.marginLeft = "0";
  logo.classList.add("pop");
});
hideDropdown.addEventListener("click", () => {
  overlay.style.display = "none";
  showDropdown.style.display = "inline-block";
  hideDropdown.style.display = "none";
  dropdown.style.marginLeft = "-60%";
  logo.classList.remove("pop");
});

// signInBtn.addEventListener("mouseenter", () => {
//   signIcon.style.display = "inline";
// });
// signInBtn.addEventListener("mouseleave", () => {
//   signIcon.style.display = "block";
// });

  </script>
</html>
{% endblock content%}